:root {
  --gridWidth: 10;
  --gridHeight: 16;
  --primary: #ff7751;
}

* {
  font-family: "Open Sans";
}

html, body {
  background-color: var(--primary);
  width: 100%;
  height: 100%;
  margin: 0;
}

.game {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.grid {
  display: grid;
  height: 100vh;
  width: calc(100vh * var(--gridWidth) / var(--gridHeight));
  grid-template-columns: repeat(var(--gridWidth), 1fr);
  grid-gap: 4px;
}

.grid-item {
  background-color: #ffffff22;
}

.grid-item.block {
  background-color: #ffffff;
}

.next {
  display: grid;
  height: 25vh;
  width: 25vh;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
  margin: 1rem 0;
}

.d-none {
  display: none!important;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-input {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
  width: 30%;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.play-button {
  background: white;
  color: #ff7751;
  font-size: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

.play-button:hover {
  background-color: #ffffff7f;
  color: white;
}

.play-button:focus {
  outline: 0;
}

.popup-modal {
  background: #ff7751!important;
}

.title-modal {
  color: white!important;
}

.input-modal {
  background-color: #00000022!important;
  color: white!important;
  border: none!important;
}

.input-modal::placeholder {
  color: #ffffff66!important;
}

.input-modal:focus {
  border: none!important;
  box-shadow: none!important;
}

.confirm-button-modal {
  background: white!important;
  color: #ff7751!important;
  font-size: 1rem!important;
  text-transform: uppercase!important;
  font-weight: 600!important;
  border: 0!important;
  width: 200px!important;
  height: 50px!important;
  border-radius: 25px!important;
  cursor: pointer!important;
  transition: color 0.25s, background-color 0.25s!important;
}

.confirm-button-modal:hover {
  background-color: #ffffff7f!important;
  color: white!important;
}

.score {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-text {
  margin-top: 1.5rem;
  color: white;
}

.reset-button {
  background: white;
  color: #ff7751;
  font-size: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

.reset-button:hover {
  background-color: #ffffff7f;
  color: white;
}

.next-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  color: white;
  padding: 1rem 0;
}

.next-score-text {
  text-align: center;
}

.logo {
  width: 20%;
}

.back-button {
  background: #ff7751;
  color: white;
  border: 2px solid white;
  font-size: 1rem;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s;
  margin-left: 0.5rem;
}

.back-button:hover {
  border-color: transparent;
  background-color: #ffffff7f;
  color: white;
}

.score-table {
  width: 40%;
  color: white;
  font-size: 1.25rem;
}

.top-score-text {
  color: white;
}

.scored {
  animation: spin 1s infinite;
}

@keyframes spin { 100% { transform: rotate(360deg) scale(0); } }